<%- include('../layout/header2.ejs') %>

<section class="about">
    <div class="container">
        <div class="row">
            <h2 class="text-center mt-3" style="font-family:'Times New Roman', Times, serif">About <span class="text-danger">Us</span></h2>
            <h5 style="font-family:'Times New Roman', Times, serif"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus optio sectetur minima soluta nulla, alias tenetur doloribus vitae quo eaque, quae illo!<span class="text-danger">sisint Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus optio sectetur minima soluta nulla, alias tenetur doloribus vitae quo eaque, quae illo!fugit tempora ipsum maiores dolorum enim, beatae qui Us</span>fugit tempora ipsum maiores dolorum enim, beatae qui quasisint Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus optio sectetur minima soluta nulla, alias tenetur doloribus vitae quo eaque, quae illo!fugit tempora ipsum maiores dolorum enim, beatae qui quasi</h5>
        
            <div class="row mt-3">
                <div class="col-md-4 col-6 a shadow-lg">
                    
                    <h4 class="text-center pt-1 text-danger" style="font-family:'Times New Roman', Times, serif">Our Colleges</h4>                    
                    <p class="text-center pt-1" style="font-family:'Times New Roman', Times, serif">Lorem lpsum is
                        simply dummy text A wallpaper or background </p>
                    
                </div>
                <div class="col-md-4 col-6 a ">
                    
                    <h4 class="text-center pt-1 text-danger" style="font-family:'Times New Roman', Times, serif">CITIES</h4>                    
                    <p class="text-center pt-1" style="font-family:'Times New Roman', Times, serif">Lorem lpsum is
                        simply dummy text A wallpaper or background </p>
                    
                </div>
                <div class="col-md-4 col-6 a shadow-lg">
                    
                    <h4 class="text-center pt-1 text-danger" style="font-family:'Times New Roman', Times, serif">Our Faculty</h4>                    
                    <p class="text-center pt-1" style="font-family:'Times New Roman', Times, serif">Lorem lpsum is
                        simply dummy text A wallpaper or background </p>
                    
                </div>
            </div>
        </div>
    </div>
</section>
<br><br>
<%- include('../layout/footer.ejs') %>