<!-- FOOTER START -->
<section class="footer">
    <div class="container-fluid">
        <div class="row">

            <!-- col-md-6 start -->
            <div class="col-md-6 bg-dark">
                <h4 style="color: orange;">Our Team</h4>
                <hr class="hr">
                <center>
                    <h6>Website Owner : A grievance is a formal complaint that is raised by an employee towards an
                        employer within the workplace. <span>Shashank shivhare</span></h6>
                    <h6> : <span>Shashank shivhare</span></h6>
                    <h6>About this : <span>A grievance is a formal complaint that is raised by an employee towards an
                            employer within the workplace.Shashank shivhare</span></h6>
                    <h6>Website Owner : <span>Shashank shivhare</span></h6>
                    <h6>If you have any query : A grievance is a formal complaint that is raised by an employee towards
                        an employer within the workplace.<span>Shashank shivhare</span></h6>
                    <h6>Im using all the online site</h6>
                </center>
            </div>
            <!-- col-md-6 end -->

            <!-- col-md-6 start -->
            <div class="col-md-6 bg-dark">
                <h4 style="color: orange;">Our Branch & More</h4>
                <hr class="hr">
                <h6>A grievance is a formal complaint that is raised by an employee towards an employer within the
                    workplace sector 2 , new delhi , Inndia</h6>
                <h4>Gwalior Branch : <span>grievance is a formal complaint that is raised by an employee towards an
                        employer within Madhya pradesh</span></h4>
                <h5 class="text-light">formal complaint that is raised by an employee towards an employer within the
                    workplace</h5>
                <h4> <i class="fa-brands fa-facebook"></i> <i class="fa-brands fa-instagram"></i> <i
                        class="fa-brands fa-telegram"></i> <i class="fa-brands fa-twitter"></i> </h4>
            </div>
            <!-- col-md-6 end -->
        </div>
    </div>
</section>
<!-- FOOTER END -->

<!-- JAVASCRIPT LINK -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
</body>

</html>