<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admission</title>

    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/responsive.css">

    <!-- BOOTSTRAP LINK -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <!-- Fontawesome Links -->
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">

</head>

<body>

    <!-- HEADER START -->
    <section class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="background">
                    <header class="head">
                        <nav class="navbar navbar-expand-lg">
                            <div class="container">
                                <a href="" class="navbar-brand">
                                    <h1 class="pt-3">Admi<span
                                            class="text-danger border-bottom border-danger">SSion</span>s</h1>
                                </a>
                                <button class="navbar-toggler" style="border: none;" data-bs-toggle="collapse"
                                    data-bs-target="#a">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse" id="a">
                                    <ul class="navbar-nav pt-5">
                                        <li class="nav-item"><a href="/dashboard" class="nav-link">Home</a></li>
                                        <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
                                        <li class="nav-item"><a href="/enroll" class="nav-link">Enroll courses</a></li>
                                        <li class="nav-item"><a href="/contact" class="nav-link">Contact</a>
                                        <li class="nav-item"><a href="/logout" class="nav-link" style="color: darkred;">Logout</a></li>
                                        
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </header>
                    <h1 class="text-center h pt-5">AP<span class="text-danger">FA</span>E</h1>
                    <h6 class="text-center p pt-2">A grievance is a formal complaint that is raised by an employee <span
                            class="text-info-emphasis"> towards an employer within the workplace. A grievance is a formal A
                            grievance is a formal complaint that is raised by an employee towards an employer within the
                            workplace.Shashank shivharecomplaint that is raised by an employee</span> towards an
                        employer within the workplace.
                        .</h6>
                    <br><br>

                    <marquee width="30%" direction="up" height="60px" style="padding-top: -5%;">
                        <h4 class="text-center text-danger">Update</h3>
                            <h6 style="text-align: justify;">This is a sample scrolling text that has scrolls in the
                                upper direction. This is a sample scrolling text that has scrolls in the upper <span
                                    class="text-danger"> towards an employer within the workplace. A grievance is a
                                    formal A grievance is a formal complaint that is raised by an employee towards an
                                    employer within the workplace.Shashank shivharecomplaint that is raised by an
                                    employee</span> direction.This is a sample scrolling text that has scrolls in the
                                upper direction. This is a sample scrolling text that has scrolls in the upper <span
                                    class="text-danger"> towards an employer within the workplace. A grievance is a
                                    formal A grievance is a formal complaint that is raised by an employee toward</span>
                                an employer within the workplace.Shashank shivharecomplaint that .</h6>
                    </marquee>

                </div>
            </div>
        </div>
    </section>
    <!-- HEADER END -->
   


    <br><br>